.header {
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
}

.mainContent {
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.02em;
}

#loginContainer {
  position: relative;
  width: 600px;
  height: 605px;

  background: var(--tertiary);
  border-radius: 22px;
  overflow: hidden;
}

#headerContainer {
  position: absolute;
  width: 600px;
  height: 150px;
  left: 0px;
  top: 0px;

  background: var(--tertiary);
  overflow: hidden;
}

#title {
  margin: 0;
  position: absolute;
  width: 365px;
  height: 59px;
  left: 118px;
  top: 55px;

  color: #ffffff;
}

#logo {
  position: absolute;
  width: 589px;
  height: 543px;
  left: -1px;
  top: -202px;
}

#mainContentContainer {
  position: absolute;
  width: 600px;
  height: 455px;
  left: 0px;
  top: 150px;

  background: linear-gradient(
    211.17deg,
    var(--primary) 4.95%,
    rgba(38, 95, 153, 0) 81.15%
  );
  border-radius: 22px;
  overflow: hidden;
}

#alignment {
  width: 373px;
  height: 450px;
  left: 113px;
  top: 30px;
}

#googleButton {
  width: 237px;
  height: 28px;
  left: 68px;
  top: 3px;
  border-radius: 22px;
}

#googleLogo {
  width: 26px;
  height: 26px;
}

#discordButton {
  left: 66px;
  top: 53px;
  display: flex;
  border-radius: 22px;
  border-width: 0px;
  padding: 3px 20px;
}

#discordLogo {
  width: 26px;
  height: 26px;
  margin-right: 10px;
}
