<!-- Search bar -->
<div id="searchBar">
  <input type="text" [(ngModel)]="queryStr" />
  <button (click)="search()">Search</button>
  <input
    type="radio"
    id="podcast"
    name="searchType"
    value="podcast"
    [(ngModel)]="searchType"
  />
  <label for="podcast">Podcast</label>
  <input
    type="radio"
    id="episode"
    name="searchType"
    value="episode"
    [(ngModel)]="searchType"
  />
  <label for="episode">Episode</label>
  <input
    type="radio"
    id="user"
    name="searchType"
    value="user"
    [(ngModel)]="searchType"
  />
  <label for="user">User</label>
</div>

<!-- Filters/Sorting -->
<div id="podcastFiltersContainer" *ngIf="searchType == 'podcast'">
  <label>At least</label>
  <input type="number" [(ngModel)]="numEpisodes" />
  <label>episodes</label>
</div>
<div id="episodeSortingContainer" *ngIf="searchType == 'episode'">
  <span>Sort by:</span>
  <input
    type="radio"
    id="title"
    name="sortingParam"
    value="title"
    [(ngModel)]="sortingParam"
  />
  <label for="title">Title</label>
  <input
    type="radio"
    id="duration"
    name="sortingParam"
    value="duration"
    [(ngModel)]="sortingParam"
  />
  <label for="duration">Duration</label>
  <input
    type="radio"
    id="releaseDate"
    name="sortingParam"
    value="releaseDate"
    [(ngModel)]="sortingParam"
  />
  <label for="releaseDate">Release date</label>
</div>
<div id="userFiltersContainer" *ngIf="searchType == 'user'">
  <label id="friendsOnlyCheckbox">Friends only</label>
  <input id="friendsOnlyCheckbox" type="checkbox" [(ngModel)]="friendsOnly" />
</div>

<!-- Results -->
<div id="podcastResults" *ngIf="resultsType == 'podcast'">
  <div *ngIf="podcastResults.length == 0">No results found</div>
  <table>
    <tr>
      <th>Thumbnail</th>
      <th>Name</th>
      <th>RSS</th>
      <th>Number of episodes</th>
    </tr>
    <tr *ngFor="let p of podcastResults">
      <td><img [src]="p.thumbnail" width="100" height="100" /></td>
      <td>{{ p.name }}</td>
      <td>{{ p.rssFeed.substring(0, 50) }}...</td>
      <td>{{ p.numEpisodes }}</td>
      <!--<app-podcast-card [podcast]="p"></app-podcast-card>-->
    </tr>
  </table>
</div>
<div id="episodeResults" *ngIf="resultsType == 'episode'">
  <div *ngIf="episodesResult.length == 0">No results found</div>
  <table>
    <tr>
      <th>Podcast</th>
      <th>Title</th>
      <th>Description</th>
      <th>Length(seconds)</th>
      <th>Release date</th>
    </tr>
    <tr *ngFor="let e of episodesResult">
      <td><img [src]="e.thumbnail" width="100" height="100" /></td>
      <td>{{ e.title }}</td>
      <td>{{ e.description.substring(0, 50) }}...</td>
      <td>{{ e.duration }}</td>
      <td>{{ e.releaseDate }}</td>
    </tr>
  </table>
</div>
<div id="userResults" *ngIf="resultsType == 'user'">
  <div *ngIf="usersResult.length == 0">No results found</div>
  <table>
    <tr>
      <th>Avatar</th>
      <th>Username</th>
    </tr>
    <tr *ngFor="let u of usersResult">
      <td><img [src]="u.avatar" width="100" height="100" /></td>
      <td>{{ u.username }}</td>
    </tr>
  </table>
</div>
