<div id="writeComment">
  <h1>Write a comment</h1>
  <div style="display: flex; flex-flow: column; width: 300px;">
    <label for="episodeId">Episode ID:</label>
    <input id="episodeId" name="episodeId" type="number" [(ngModel)]="createComment.episodeId" />
    <label for="commentDesc">Comment:</label>
    <textarea id="commentDesc" rows="4" cols="50"
      placeholder="What's on your mind..." [(ngModel)]="createComment.commentDesc"
    >
    </textarea>
    <h4>Episode timestamp (seconds):</h4>
    <label for="timestampStart">From:</label>
    <input id="timestampStart" name="timestampStart" type="number" [(ngModel)]="createComment.timestampStart" />
    <label for="timestampEnd">To:</label>
    <input id="timestampEnd" name="timestampEnd" type="number" [(ngModel)]="createComment.timestampEnd" />
    <button (click)="submitComment()">Comment</button>
  </div>
</div>
<div id="myComments">
  <h1>My comments</h1>
  <div *ngIf="currentUsersComments.length == 0">Make your first comment above!</div>
  <div *ngIf="currentUsersComments.length != 0" id="currentUsersCommentsHeader">
    <h2>Episode ID</h2>
    <h2>User ID</h2>
    <h2>Comment</h2>
    <h2>Date</h2>
    <h2>Timestamp</h2>
    <h2>Comment actions</h2>
  </div>
  <app-comment-card *ngFor="let c of currentUsersComments" [comment]="c"></app-comment-card>
</div>
<div id="friendsComments">
  <h1>Following comments</h1>
</div>
